<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>extraaaaa</title>

      <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <% include navbar %>
  </body>
</html>
